
  <nav class="navbar navbar-color-on-scroll navbar-dark bg-primary  fixed-top  navbar-expand-lg "  color-on-scroll="100"  id="sectionsNav">
        <div class="container">
          <div style="display:flex;">
          <div class="navbar-translate">
                <img src="assets/images/APLogo.png"  width="160">
              </div>
              <a class="navbar-brand" style="font-size:32px">#YoProgramo</a>
            </div>
                <a class="nav-link"  href="https://github.com/Gonzlashnjkov" target="_blank">
      			<i class="fa fa-github text-white"></i>
      			</a>
        </div>
        <button type="button" class="btn btn-success">Editar</button>
    </nav>


       

    

