<div class="container">
  <div class="row">
    <div class="col-md-6 ml-auto mr-auto">
<div class="card" style="width: 35rem;">
    <div class="card-body card bg-primary">
      <h5 class="card-title text-white">{{habilidad.titulo}}</h5>
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-warning text-dark" role="progressbar" style="width:{{habilidad.porcentaje}}%;" aria-valuemin="0" aria-valuemax="100">{{habilidad.porcentaje}}</div>
    </div>
    <div>
      <button type="button"(click)="toggleModal()" class="btn btn-success">Editar</button>
    </div>
    <div>
    <button type="button" (click)="this.delete()" class="btn btn-danger">Borrar</button>
  </div> 
</div> 

<div *ngIf="showModal">
    <!--content-->
    <div>
      <!--header-->
      <div>
        <h3>
          Editar Habilidad
        </h3>
        <button type="button"(click)="toggleModal()" class="btn btn-dark">Editar</button>
      </div>
      <!--body-->
      <div>
        <form>
          <div>
            <label>Titulo</label>
            <input
              type="text"
              [(ngModel)]="habilidad.titulo"
              name="titulo"
              required="required"
            />
          </div>
          <div>
            <label>Porcentaje</label>
            <input
              type="number"
              max="100"
              min="0"
              [(ngModel)]="habilidad.porcentaje"
              name="porcentaje"
              required="required"
              
            />
          </div>
          <div>
            <button type="submit" (click)="this.update()"class="btn btn-dark">Actualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>


